.col.s12.m6.l3
  .card.hoverable
    .card-image
      = image_tag item.image.url if item.image.url.present?
    .card-content
      %p 
        = item.contents
      %p
        = item.created_at.strftime("%Y年%m月%d日 %H時%M分")
    .card-action
      %a{:href => "#"} This is a link
      %i.small.material-icons.grey-text.text-darken-4.right more_vert
