.new__container
  #DateCountdown{"data-timer" => "1200"}
  .row
    = form_for @item,class: "col s12" do |f|
      .row
        .input-field.col.s12
          = f.text_area :description, id: "textarea2", class: "materialize-textarea",'data-length': "120"
          = f.label :description, "Description"
      .row
        .file-field.input-field.col.s12
          .btn
            %span File
            = f.file_field :image
          .file-path-wrapper
            %input.file-path.validate{:type => "text"}/
      %button.btn.waves-effect.waves-light{:name => "action", :type => "submit"}
        Submit
        %i.material-icons.right send

